<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
%>
<%namespace file='main.html' import="login_query, stanford_theme_enabled"/>
<%namespace name='static' file='static_content.html'/>


<header>
  <h3 class="sr">${_("Registration Help")}</h3>
</header>

% if has_extauth_info is UNDEFINED:

<div class="cta">
  <h3>${u"DÉJÀ INSCRIT?"}</h3>
  <p class="instructions">
    <a href="${reverse('signin_user')}${login_query()}">
      ${_("Click here to log in.")}
    </a>
  </p>
</div>

% endif

## TODO: Use a %block tag or something to allow themes to
##       override in a more generalizable fashion.
% if not stanford_theme_enabled():
  <div class="cta cta-welcome">
    <h3>${"BIENVENUE SUR {platform_name}!".format(platform_name=platform_name)}</h3>
    <p>${u"L'inscription à Ulibre vous donne accès à tous nos cours gratuits actuels et futurs. Vous n'êtes pas prêt à suivre un cours pour l'instant? Si vous vous inscrivez maintenant, votre nom apparaîtra dans notre liste de diffusion - nous vous tiendrons ainsi au courant dès que des cours sont ajoutés."}</p>
  </div>
% endif

<div class="cta cta-nextsteps">
  <h3>${_("Next Steps")}</h3>
  % if stanford_theme_enabled():
    <p>${_("You will receive an activation email.  You must click on the activation link to complete the process.  Don't see the email?  Check your spam folder and mark emails from class.stanford.edu as 'not spam', since you'll want to be able to receive email from your courses.")}</p>
  % else:
    <p>${u"En vous joignant à Ulibre, vous recevrez un courriel d'activation. Vous devrez cliquer sur le lien d'activation pour compléter l'inscription. Si vous ne recevez pas le courriel d'activation, vérifiez votre dossier de pourriel (spam) et marquez les courriels provenant d’Ulibre comme n'étant pas du pourriel. À Ulibre, nous communiquons essentiellement par courriel (mail)."}</p>
  % endif
</div>

% if settings.MKTG_URL_LINK_MAP.get('FAQ'):
  <div class="cta cta-help">
    <h3>${"BESOIN D'AIDE?"}</h3>
    <p>${(u"Besoin d'aide pour vous inscrire à Ulibre ?")}
      <a href="${marketing_link('FAQ')}">
          ${u"Visitez notre FAQ pour des réponses aux questions fréquemment posées."}
      </a>
      ${u"Une fois que vous serez inscrit, vous trouverez la plupart des réponses aux questions  dans les forums de discussions des cours ou dans la FAQ."}</p>
  </div>
% endif
